// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 11;
    padding: 0;

    @media ($media_sm) {
        background: linear-gradient(105.76deg, #ffffff 0%, #BAEEFF 100%);
    }

    &--bottom {
        position: static;

        .header__inner {
            min-height: calc(var(--header-min-height) - 2rem);
        }
    }

    // .header__inner

    &__inner {
        min-height: var(--header-min-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        @media ($media_xs) {
            width: 100%;
        }
    }

    // .header__logo

    &__logo {

        @media ($media_sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            width: 90%;
            margin: 0 auto;
        }

        &--center {
            @media ($media_sm) {
                margin: calc(var(--header-min-height) / 3) 0;
                justify-content: center;

                .logo {
                    margin: 0;
                }
            }
        }
    }

    // .header__controls

    &__controls {
        display: flex;
        align-items: center;
        width: 100%;

        @media ($media_sm) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto calc(var(--header-min-height) / 3);

            &[data-burger='menu'] {
                display: none; // если бургер меню активно
                width: 90%;
            }
        }
    }

    // .header__links

    &__links {

    }

    // .header__menu

    &__menu {

    }

    // .header__button

    &__button {
        margin-left: auto;

        @media ($media_sm) {
            margin: 1.5rem 0 0 0;
            text-align: center;
        }
    }
}

.logo {
    display: flex;
    margin-right: 7rem;

    picture {
        display: inline-flex;
    }

    // .logo__icon

    &__icon {
        @media ($media_sm) {
            max-width: 3rem;
            max-height: 3.5rem;
        }
    }
}

.menu {
    display: flex;
    
    @media ($media_sm) {
        flex-direction: column;
        align-items: center;
    }

    // .menu__item

    &__item {

        &:not(:last-child) {
            margin-right: 0.75rem;

            @media ($media_sm) {
                margin: 0 0 0.5rem 0;
            }
        }

        // .menu__item--active

        &--active {

            .menu__link {
                background-color: $color_white;
                box-shadow: $color_navlink_shadow;
            }
        }
    }

    // .menu__link

    &__link {
        position: relative;
        display: inline-block;
        padding: 0.6rem 1.4rem;
        color: $color_black_main;
        text-decoration: none;
        border-radius: 70px;
        transition: 0.3s ease-in-out;

        font-weight: 600;
        font-size: 1.4rem;

        &:hover {
            background-color: $color_white;
            box-shadow: $color_navlink_shadow;
        }
    }
}

// === / header ===