@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/lightslider";
//@import "./lib/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
@import "./components/link";
@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";

@import "modal";
@import "header";
@import "footer";

.main {
    padding: 3rem 0;
    min-height: calc(100vh - var(--header-min-height));

    // .main__container

    &__container {
        display: flex;
    }

    // .main__content

    &__content {
        flex-basis: 100%;
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .main__title

    &__title {
        text-align: left;
    }

    // .main__accent

    &__accent {
        color: $color_primary;
    }

    // .main__description

    &__description {
        font-size: 1.5rem;
        font-weight: 500;
        display: inline-block;
        margin: 1.8rem 0 2.8rem 0;
    }

    // .main__btn

    &__btn {

    }

    // .main__img

    &__img {
        flex-basis: 100%;
        text-align: center;
    }
}

.tariffs {

    // .tariffs__header

    &__header {
        margin-bottom: 4.2rem;
    }

    // .tariffs__cards

    &__cards {
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;

            .card {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

.contacts {

    // .contacts__container

    &__container {
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .contacts__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media ($media_sm) {
            margin-bottom: 3rem;
        }
    }

    // .contacts__title

    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.25;

        @media ($media_sm) {
            font-size: 2rem;
        }
    }

    // .contacts__items

    &__items {
        margin-top: 3rem;
    }

    // .contacts__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 1.8rem;
        }
    }

    // .contacts__subtitle

    &__subtitle {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 1.25;

        margin-bottom: 0.8rem;

        @media ($media_sm) {
            font-size: 1.4rem;
        }
    }

    // .contacts__value

    &__value {
        .btn {
            &:not(:last-child) {
                margin-right: 0.8rem;
            }
        }
    }

    // .contacts__form

    &__form {

    }
}

.stages {

    // .stages__container

    &__container {
    }

    // .stages__header

    &__header {
        margin-bottom: 5rem;
    }

    // .stages__cards

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 1.7rem;

        @media ($media_sm) {
            flex-direction: column;
        }

        .card {
            flex-basis: calc(36% - 1.7rem);
            min-height: 19.5rem;

            @media ($media_sm) {
                flex-basis: 100%;
            }

            &--min {
                flex-basis: calc(28% - 1.7rem);
            }
        }
    }
}

.choose {
    padding-bottom: var(--section_indent);

    // .choose__header

    &__header {
        margin-bottom: 12rem;
    }

    // .choose__container

    &__container {
        position: relative;
    }

    // .choose__img

    &__img {
        text-align: center;
        
        img {
            width: 28.125rem;
        }
    }

    // .choose__items

    &__items {
        width: 38rem;
        margin: 0 auto;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -10%);
        height: 120%;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    // .choose__col

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &--left {
            align-items: flex-start;
            flex-direction: column-reverse;

            .choose__elem {
                .btn {
                    right: 0;
                }
            }
        }

        &--right {
            align-items: flex-end;
        }
    }

    // .choose__elem

    &__elem {
        position: relative;
        height: 5rem;
        width: 5rem;

        &--spaceRight {
            transform: translateX(7rem);
        }

        &--spaceLeft {
            transform: translateX(-7rem);
        }

        .btn {
            position: absolute;
            overflow: hidden;
        }

        .btn__descr {
            text-align: left;
            transform: translateX(20px);

            &.hidden {
                width: 0;
            }

            &.show {
                width: calc(var(--width) + 30px);
            }
        }

        &:hover {
            .btn__descr {
                width: calc(var(--width) + 30px);
            }
        }
    }
}

.portfolio {

    // .portfolio__header

    &__header {
        margin-bottom: 5rem;
    }

    // .portfolio__name

    &__name {
        font-weight: 500;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
    }

    // .portfolio__container

    &__container {
        
    }

    // .portfolio__overlay

    &__overlay {
        padding: 0.8rem;
    }

    // .portfolio__item

    &__item {
        background: $color_white;
        box-shadow: 0px 8px 11px $color_promo_btn_overlay;
        border-radius: 5rem;
        padding: 0.9rem;
    }

    // .portfolio__picture

    &__picture {
        max-height: 35rem;
        border-radius: 3.8rem;
        overflow-y: auto;

        &::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.56);
        }

        &::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: rgb(177, 177, 177);
        }

        img {
            border-radius: 3.8rem;
        }
    }
}











.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
    }
}